:root {
    --my-padding: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: lightsteelblue;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "hero hero hero hero"
    "hero hero hero hero"
    "hero hero hero hero"
    "main main image image"
    "main main image image"
    "main main extra extra"
    "main main extra extra"
    "banner banner banner banner"
    "banner banner banner banner";
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}

header {
    background-color: red;
    align-items: center;
    display: grid;
    font-size: 40px;
    font-weight: lighter;
    grid-area: header;
    padding: var(--my-padding);
}

.menu {
    align-items: center;
    display: grid;
    font-size: 40px;
    font-weight: lighter;
    background-color: pink;
    grid-area: menu;
    padding: var(--my-padding);
}

.hero {
    align-items: center;
    display: grid;
    font-size: 40px;
    font-weight: lighter;
    background-color: salmon;
    grid-area: hero;
    padding: var(--my-padding);
}

main {
    align-items: center;
    display: grid;
    font-size: 40px;
    font-weight: lighter;
    background-color: palevioletred;
    grid-area: main;
    padding: var(--my-padding);
}

.image {
    align-items: center;
    display: grid;
    font-size: 40px;
    font-weight: lighter;
    background-color: lightcoral;
    grid-area: image;
    padding: var(--my-padding);
}

.extra {
    align-items: center;
    display: grid;
    font-size: 40px;
    font-weight: lighter;
    background-color: darkred;
    grid-area: extra;
    padding: var(--my-padding);
}

banner {
    align-items: center;
    display: grid;
    font-size: 40px;
    font-weight: lighter;
    background-color: lightsalmon;
    grid-area: banner;
    padding: var(--my-padding);
    text-align: center;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns:  1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(14, 1fr);
        grid-template-areas: 
        "header header header header"
        "hero hero hero hero"
        "hero hero hero hero"
        "hero hero hero hero"
        "hero hero hero hero"
        "menu main main main"
        "menu main main main"
        "menu main main main"
        "menu main main main"
        "menu main main main"
        "menu main main main"
        "menu banner banner banner"
        "menu banner banner banner"
        "menu extra extra image"
        "menu extra extra image"
        ;
    }
}

@media (max-width: 500px) {
    .container {
        grid-template-columns:  1fr;
        grid-template-rows: repeat(25, 1fr);
        grid-template-areas:  "header"
        "menu"
        "menu"
        "hero"
        "hero"
        "hero"
        "hero"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "banner"
        "banner"
        "banner"
        "extra"
        "extra"
        "extra"
        "image"
        "image"
        "image"
        "image";
    }
}